<% if @categories.any? %>
  <% @categories.each do |cate| %>
    <% if cate.events.any? %>
      <div class="row well">
        <h2><%= cate.name %></h2>
          <% cate.events.each do |eve| %>
            <div class="col-lg-4">
              <p><%= link_to eve do  %>
                <% if eve.photos.any? %>
                  <%= image_tag eve.photos.first.image, :class => "img-thumbnail", style: 'height:200px;width:auto;' %>
                <% end %>
              <% end %> </p>
              <h2 ><%= eve.name %></h2>
              <p><%= eve.starts_at %></p>
              <p><%= link_to "View", eve, class: "btn btn-default" %></p>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>
<% end %>
